*{
    margin:0 auto;
    padding:0 auto;
    box-sizing: border-box;
}
ul{
    padding-inline-start:0px;
}
li{
    list-style: none;
}
a{
    color:#000;
    text-decoration: none;
}
input{
    outline:none;
}
@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?vowjyb');
    src:  url('fonts/icomoon.eot?vowjyb#iefix') format('embedded-opentype'),
      url('fonts/icomoon.ttf?vowjyb') format('truetype'),
      url('fonts/icomoon.woff?vowjyb') format('woff'),
      url('fonts/icomoon.svg?vowjyb#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
.topnav{
    position: relative;
    width: 100%;
    height: 60px;
    /* background-color: pink; */
  }
  .topnav li{
    line-height:23px;
    font-size:13px;
  }
  .topnav_left{
      position: absolute;
      left:24px;
      width:416px;
      height: 60px;
      /* background-color: blue; */
  }
  .topnav_left li{
      float:left;
      margin-top:19px;
      padding-right:31px;
      /* background-color:yellow; */
            font-family: "PingFang SC", Arial, "Microsoft YaHei", sans-serif;
  }
 .topnav .topnav_left li:last-child{
     position: relative;
    padding-right:0px;
  }
  .topnav .topnav_left li:last-child .list{
      position: absolute;
      top:29px;
      right:-12px;
      display:none;
      width: 304px;
      height: 223px;
      padding-top:16px;
      border-radius: 12px;
      box-shadow: rgba(0,0,0,0.15) 0px 2px  10px 0px ;
      z-index:100;
      background-color: #fff;
  }

  .topnav .topnav_left li:last-child:hover .list{
      display: block;
  }

  .topnav .topnav_left li:last-child .list div{
    width: 304px;
    height:70px;
  }
  .topnav .topnav_left li:last-child .list .row2{
    margin-top:19px;
}
  .topnav .topnav_left li:last-child .list div>a{
      float:left;
      display: block;
      width: 76px;
      height: 70px;
      /* background-color:yellow; */
      text-align: center;
  }
  .topnav .topnav_left li:last-child .list div>a img{
      width: 42px;
      height: 42px;
      border:solid 1px rgba(0,0,0,0.03);
      border-radius: 25%;
  }
  .topnav .topnav_left li:last-child .list div>a p{
      margin-top:3px;
  }
  .topnav .topnav_left li:last-child .more{
      width: 100%;
      margin:10px;
      text-align: center;
      
  }
  .topnav .topnav_left li:last-child .more a{
    color:#9195A3;
  }
  .topnav_right{
      position: absolute;
      right: 24px;
      width: 222px;
      height: 60px;
      /* background-color: purple; */
  }
  .topnav_right li{
      float:left;
      padding-left:32px;
      margin-top: 19px;
  }
  .redfont{
      color:red;
  }
  .topnav_right.setting{
      position: relative;
  }
  .topnav_right .setlist{
      position: absolute;
      top:48px;
      right:45px;
      display:none;
      width: 84px;
      padding: 8px 0px;
      border-radius: 12px;
      box-shadow: rgba(0,0,0,0.15) 0px 2px  10px 0px ;
  }
  .topnav_right .setlist li{
    text-align: center;
    padding:3px 16px 3px 16px;
    margin-top:0;
  }
  .topnav_right.setting{
      width: 26px;
  }
  .topnav_right .setting:hover .setlist{
      display:block;
  }
  .topnav_right .falsebtn{
      display:inline-block;
      width: 48px;
      height: 24px;
      margin-top: -1px ;
    background-color: #4E71F2;
    text-align: center;
    border-radius: 6px;
    color:#fff;
  }
  .main{
      position: relative;
      width: 654px;
      height:166px;
      /* background-color: skyblue; */
  }
  .main a img{
    position: absolute;
    left:  50%;
    top:-7px;
    margin-left:-135px;
    width: 270px;
    height: 129px;
  }
  .main form{
      position: absolute;
      left:50%;
      margin-left:-327px;
      top:122px;
      height:44px;
      width: 654px;
  }
  .main form .input{
      width: 548px;
      height: 44px;
      padding:12px 48px 12px 16px;
      border:2px solid #C4C7CE;
      border-right:2px solid transparent;
      border-radius:10px 0 0 10px ;
      font-size:16px;
  }
  .main form .input:hover{
    border:2px solid#A7AAB5
  }
  .main form  span{
      position: absolute;
      left:508px;
      top:50%;
      margin-top:-10px;
      display: block;
      width: 24px;
      height: 20px;
      background-color: transparent;
      background-image:url(https://dss0.bdstatic.com/5aV1bjqh_Q23odCf/static/superman/img/searchbox/nicon-2x-6258e1cf13.png);
      background-repeat: no-repeat;
      background-position: 0 -50px;
      background-size: 24px ;

  }
  .main form  span:hover{
    background-position: 0 -74px;
  }
  .main form  span:hover p{
      display: block;
  }
  .main form span p{
      position: absolute;
      top:37px;
      right:-5px;
      width: 94px;
      height: 32px;
      display: none;
      text-align:center;
      line-height:32px;
      font-size:14px;
      border-radius: 6px;
      box-shadow: 0 2px 10px 0 rgba(0,0,0,0.1);
  }
  .main form .submit{
    position: absolute;
    left:546px;
    width: 108px;
    height: 44px;
    padding:0px;
    background-color:#4E71F2;
    border-radius:0 10px 10px 0;
    font-size:17px;
    line-height: 44px;
    color:#fff;
    border: 0px;
}
.news{
    width: 654px;
    margin-top: 37px;

}
.news .news_hd{
    width: 654px;
    height: 24px;
    margin-bottom: 8px;
}
.news .news_hd .news_hd_left{
    float:left;
    font-size: 14px;
    line-height:24px;
}
.news .news_hd .news_hd_right{
    float: right;
    font-size:13px;
    color:grey;
    line-height:24px;
}
.news .news_hd .news_hd_right:hover{
    color:#4E71F2;
}
.news .news_hd .news_hd_right::before{
    content:"\e982";
    font-family: 'icomoon';
    margin-right: 5px;
}
.news .news_bd{
    width: 654px;
    height: 324px;
}
.news .news_bd li{
    float:left;
    width: 268px;
    height: 34px;
    line-height: 34px;
    font-size:14px;
}
.news .news_bd li:hover a{
    color:#4E71F2;
    text-decoration: underline;
}
.news .news_bd li a:visited{
    color:gray;
}
.news .news_bd li:first-child .tag{
    width: 16px;
    height: 16px;
    margin-left:4px;
    display:inline-block;
    background-image: url(https://dss0.bdstatic.com/5aV1bjqh_Q23odCf/static/superman/img/hot_search/mark-icon-3@1x-fdb050afea.png);
}
.news .news_bd li .index{
    display:inline-block;
    width: 20px;
    height: 20px;
    margin-right:8px;
    margin-top: 7px;
    line-height:20px;
    text-align: center;
    background-image: url(https://dss0.bdstatic.com/5aV1bjqh_Q23odCf/static/superman/img/hot_search/top_1@1x-d1e660cf3b.png);
}
.news .news_bd li:nth-child(odd){
    margin-right:59px;
}
.news .news_bd li:nth-child(even){
    margin-left:59px;
}
.bottom{
    position: fixed;
    bottom:0;
    width: 1375px;
    height: 40px;
    font-size:12px;
    line-height: 40px;
}
.bottom .bot_left{
    float:left;
    /* background-color:yellow; */
}
.bottom ul li{
    float:left;
    margin-right:20px;
    color:grey;
}
.bottom  ul li a{
    color:grey;
}
.bottom .bot_left ul li:first-child{
    margin-left:30px;
}
.bottom ul li:hover a{
    color:#000;
}
.bottom .bot_right{
    float:right;
}
.bottom .bot_right ul li{
    color:#bbb;
}
.bottom .bot_right ul li a{
    color:#bbb;
}
.bottom .bot_right ul li:hover a{
    color:#000;
}
